<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:label="Our Food App"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".planMeals.view.planActivity"
            android:exported="false" />
        <activity
            android:name=".search.searchbycountry.view.Detailed_country"
            android:exported="false" />
        <activity
            android:name=".detailedmeal.view.DetailedMealActivity"
            android:exported="false" />
        <activity
            android:name=".search.byIngredients.view.IngredientsActivity"
            android:exported="false" />
        <activity
            android:name=".search.byIngredients.view.Search_by_ingredients_Activity"
            android:exported="false" />
        <activity
            android:name=".search.category.view.CategoryMealsActivity"
            android:exported="false" />
        <activity
            android:name=".search.category.view.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".search.searchbycountry.view.CountryMealsActivity"
            android:exported="false" />
        <activity
            android:name=".search.searchbycountry.view.Search_by_country_Activity"
            android:exported="false" />
        <activity
            android:name=".search.view.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".favorite.view.Favorite_itemsActivity"
            android:exported="false" />
        <activity
            android:name=".dailyMeal.view.DailyMealActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration.view.RegistrationActivity" />
        <activity android:name=".login.view.LoginActivity" />
        <activity android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

    </application>

</manifest>